html {
	box-sizing: border-box;
}
*,
::after,
::before {
	box-sizing: inherit;
}

/*
BARVY
czechitas  #b92e81
pozadi     #bdc3c7
tmava      #31363b
delitka    #3f464d
portfolio  #e74c3c
facebook   #3b5998
twitter    #1da1f2
*/

/*
Pod čáru přijde tvůj kód
-----------------------------------------------
*/

body {
	background-color: #bdc3c7;
	font-family: 'Montserrat', sans-serif;
	color: white;
}

.jana {
	background: #31363b;
	max-width: 800px;
	width: 320px;
	height: auto;
	box-shadow: 4px 5px 20px #8F8F8F;
	margin: 30px;
	position: relative;
}

.obsah {
	padding: 15px 30px 20px 30px;
}

.foto {
	width: 100%;
}

.logo {
	background-color: #b92e81;
	border-radius: 50%;
	z-index: 10;
	position: absolute;
	right: 20px;
	top: 190px;
	box-shadow: 4px 5px 20px #282828;
	
}

.odkazy {
	padding: 0;
	width: 100%;
}

a:link, a:visited {
	color: white;
	text-decoration: none;
}

.portfolio,
.facebook,
.twitter {
	text-align: center;
	text-transform: uppercase;
	list-style-type: none;
	padding: 10px;
	font-weight: 500;
	border: 0.5px solid rgb(94, 93, 93);
}

.portfolio {
	width: 100%;
	
}

.facebook,
.twitter {
	display: inline-block;
	width: 50%;
}

.facebook:hover, .twitter:hover, .portfolio:hover {
	background-color: #1da1f2;	
}

