html {
	box-sizing: border-box;
}
*,
::after,
::before {
	box-sizing: inherit;
}

/*
BARVY
czechitas  #b92e81
pozadi     #bdc3c7
tmava      #31363b
delitka    #3f464d
portfolio  #e74c3c
facebook   #3b5998
twitter    #1da1f2
*/

/*
Pod čáru přijde tvůj kód
-----------------------------------------------
*/

body {
	background-color: #bdc3c7;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 28px;
	color: white;
}

.profil {
	background: #31363b;
	max-width: 300px;
	height: auto;
	box-shadow: 4px 5px 20px #8F8F8F;
	margin: 30px;
	position: relative;
	color: #d6d6d6;
}

.hlavicka {
	position: relative;
}

.obsah {
	padding: 25px 23px 10px;
	font-family: 'Source Sans Pro', sans-serif;
}

.foto {
	width: 100%;
}

.logo {
	background-color: #b92e81;
	border-radius: 50%;
	z-index: 10;
	position: absolute;
	bottom: -15px;
	right: 40px;
	box-shadow: 3px 4px 14px #282828;
	
}

.odkazy {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

a {
	color: inherit;
	text-decoration: none;
}

.odkazy a {
	display: block;
	padding: 10px;
}

.portfolio,
.facebook,
.twitter {
	border-top: 0.5px solid #4d4d4d;
}

.portfolio {
	width: 100%;
}

.facebook,
.twitter {
	display: inline-block;
	width: 50%;
}

.twitter {
	border-left: 0.5px solid #4d4d4d;
}

.portfolio a:hover {
	background-color: #e74c3c;
}

.facebook a:hover {
	background-color: #3b5998;
}

.twitter a:hover {
	background-color: #1da1f2;	
}

